[submodule "native/tesseract"]
	path = native/tesseract
	url = https://github.com/tesseract-robotics/tesseract.git
[submodule "native/tesseract_python"]
	path = native/tesseract_python
	url = https://github.com/tesseract-robotics/tesseract_python.git
